body {
	margin : 0 0;
	background-image: url('Images/indexbg1.jpg');
	background-position: center center;
	background-size: 450px 450px;
	background-color: #000000;
	font-family: Arial, Verdana, sans-serif;
}
#imagelic145 {
	width: 1000px;
	height: 530px;
	margin: 0 0;
}
#head {
	width: 1000px;
	height: 200px;
	margin: 10px auto;
}
#logo {
	width: 217px;
	height: 147px;
	float: left;
	margin-top: 5px;
}
#infodiv {
	margin-top: 5px;
	margin-left: 217px;
	width: 783px;
	height: 147px;
	background-image: url('Images/menu.png');
	background-position: center center;
}
ul {
	list-style: none;
}
#contacts {
	font-size: 20px;
	font-weight: bold;
	margin: 5px 0;
}
#infoul1 {
	float: left;
	margin-top: 25px;
	font-weight: bold;
}
#infoul2 {
	float: left;
	margin-top: 25px;
}
#menu {
	margin : 0 0;
	background-image: url('Images/background.png');
	background-position: center center;
	background-size: 100px 100px;
	border: 10px solid #00ae5d;
	height: 300px;
	float: left;
	width: 197px;
}
#newslist {
	margin : 0 0;
	margin-left: 220px;
	margin-top: 5px;
	width: 760px;
	height: 100%;
}
.newsitem {
	margin : 0 0;
	background-image: url('Images/background.png');
	background-position: center center;
	background-size: 100px 100px;
	border: 10px solid #00ae5d;
	margin-top: 5px;
	margin-left: -15px;
	width: 685px;
	height: 450px;
}
h3 {
	margin-left: 20px;
}
.newstext {
	margin-left: 15px;
}
.newsdata {
	font-family: Arial, Verdana, cursive;
}